.catalog {
  width: 320px;
  margin: 0 auto;
  margin-top: 17px;
  //
  //border: 1px solid black;
  min-height: 1733px;
}
.catalog__title {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  //
  //border: 1px solid black;
  min-height: 73px;
}
.catalog__list {
  margin: 15px auto;
  padding: 0;
  list-style: none;

  border: 1px solid #ededed;
  min-height: 1585px;
}
.catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  border-bottom: 1px solid #ededed;
  //
  //border: 1px solid black;
  min-height: 207px;
  &_last {
    min-height: 210px;
    flex-direction: column;
  }
}
.catalog__item-photo {
  width: 140px;
  height: 144px;
  margin-left: 3px;
  margin-top: 0px;
  &_1 {
    background: url("../../img/catalog-1-mobile.jpg.jpg");
  }
  &_2 {
    background: url("../../img/catalog-2-mobile.jpg.jpg");
  }
  &_3 {
    background: url("../../img/catalog-3-mobile.jpg.jpg");
  }
  &_4 {
    background: url("../../img/catalog-4-mobile.jpg.jpg");
  }
  &_5 {
    background: url("../../img/catalog-5-mobile.jpg.jpg");
  }
  &_6 {
    background: url("../../img/catalog-6-mobile.jpg.jpg");
  }
  &_7 {
    background: url("../../img/catalog-7-mobile.jpg.jpg");
  }
  &_last {
    background: url("../../img/plus-mobile.svg.png");
    width: 30px;
    height: 30px;
    margin-left: 130px;
    margin-top: 33px;
  }
}
.catalog__item-title {
  width: 80px;
  height: 35px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  &_last {
    width: 205px;
    margin: 0;
    margin-top: 23px;
    margin-left: 45px;
  }
}
.catalog__item-properties-list {
  padding: 0;
  width: 141px;
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.catalog__item-button {
  height: 40px;
  color: #ffffff;
  border: none;
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 0px 108px 0px 111px;
  margin-left: 5px;
  margin-top: -20px;
  &_gray {
    padding: 0;
    margin-top: 22px;
    background-color: #f2f2f2;
    color: #444444;
  }
}
.catalog__item-wrapper {
  margin-top: 6px;
  margin-left: 0px;
}
.catalog__item-property-value,
.catalog__item-property-field {
  padding: 0;
}
.catalog__item-property-field {
  padding-left: 60px;
  text-align: right;
}

.catalog__item-text {
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  text-align: center;
  margin-top: -7px;
  margin-left: 2px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
    margin-top: 55px;
    //
    min-height: 2362px;
  }
  .catalog__title {
    margin-left: 0px;
    font-size: 60px;
    line-height: 60px;
    //
    min-height: 70px;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    border: none;
    //
    min-height: 2230px;
  }
  .catalog__item {
    position: relative;
    padding: 0;
    margin-top: 140px;
    width: 324px;
    height: 431px;
    border: none;
    background-color: #f2f2f2;
    &_last {
      background-color: white;
    }
    //border: 1px solid black;
  }
  //
  .catalog__item-photo {
    position: absolute;
    &_1 {
      background: url("../../img/catalog-1-tablet.png.png");
      width: 161px;
      height: 172px;
      top: -47px;
      left: 80px;
    }
    &_2 {
      background: url("../../img/catalog-2-tablet.png.png");
      width: 195px;
      height: 208px;
      top: -85px;
      left: 67px;
    }
    &_3 {
      background: url("../../img/catalog-3-tablet.png.png");
      width: 163px;
      height: 174px;
      top: -50px;
      left: 80px;
    }
    &_4 {
      background: url("../../img/catalog-4-tablet.png.png");
      width: 194px;
      height: 208px;
      top: -83px;
      left: 67px;
    }
    &_5 {
      background: url("../../img/catalog-5-tablet.png");
      width: 161px;
      height: 171px;
      top: -45px;
      left: 82px;
    }
    &_6 {
      background: url("../../img/catalog-6-tablet.png.png");
      width: 195px;
      height: 208px;
      top: -83px;
      left: 65px;
    }
    &_7 {
      background: url("../../img/catalog-7-tablet.png");
      width: 163px;
      height: 174px;
      top: -50px;
      left: 80px;
    }
    &_last {
      background: url("../../img/plus.svg.png");
      width: 60px;
      height: 60px;
      margin-left: 132px;
      margin-top: 55px;
    }
  }
  .catalog__item-wrapper {
    width: 100%;
    margin: 0;
  }
  .catalog__item-title {
    width: 130px;
    text-align: center;
    margin: 0 auto;
    margin-top: 162px;
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    &_last {
      width: 150px;
      margin-top: 48px;
    }
  }
  .catalog__item-properties-list {
    margin: 0 auto;
    margin-top: 30px;
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
  .catalog__item-property-field {
    padding-left: 135px;
    width: 60px;
    display: inline-block;
  }
  .catalog__item-property-field,
  .catalog__item-property-value {
    padding-bottom: 15px;
  }
  .catalog__item-button {
    margin-left: 40px;
    padding-left: 95px;
    padding-right: 92px;
    &_gray {
      margin: 0 auto;
      margin-top: 87px;
      padding: 0 80px;
      color: #444444;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
  .catalog__item-text {
    width: 170px;
    margin: 0 auto;
    margin-top: 35px;
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
    margin-top: 75px;
    //
    min-height: 1222px;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    //
    min-height: 1090px;
  }
  .catalog__item {
    width: 280px;
    //
    //border: 1px solid black;
    min-height: 560px;
  }
}