.categories {
  width: 280px;
  min-height: 552px;
  margin: 0 auto;
  margin-top: 18px;
}
.categories__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 552px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.categories__item {
  position: relative;

  min-height: 266px;

  background-color: #f2f2f2;
}

.categories__item-title {
  margin: 0;
  padding-top: 35px;
  margin-left: 92px;

  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  color: #111111;

  &_slim::before {
    position: absolute;
    left: 25px;
    top: 26px;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;

    content: "";
  }

  &_slim::after {
    position: absolute;
    left: 30px;
    top: 25px;

    width: 35px;
    height: 50px;

    background: url("../../img/icon-cat-slim.svg");

    content: '';
  }

  &_pro::before {
    position: absolute;
    left: 20px;
    top: 26px;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;

    content: "";
  }

  &_pro::after {
    content: '';

    position: absolute;
    left: 14px;
    top: 38px;
    width: 67px;
    height: 28px;
    background: url("../../img/icon-cat-pro.svg");
  }
}

.categories__item-text {
  width: 225px;
  margin-top: 27px;
  margin-left: 10px;

  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #444444;
}

.categories__item-btn {
  margin-top: 10px;
  margin-left: 13px;
  padding-top: 20px;
  padding-right: 160px;

  font-family: Oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
  border-top: 1px solid silver;
  outline: none;
  cursor: pointer;

  &:hover::after {
    width: 33px;

    background-image: url("../../img/icon-right-arrow-verylong.svg");
  }
  &::after {
    position: absolute;
    left: 110px;
    bottom: 18px;

    width: 24px;
    height: 11px;

    background: url("../../img/icon-right-arrow-long.svg");

    content: "";
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    width: 708px;
    min-height: 774px;
    margin-top: 0;
  }
  .categories__list {
    min-height: 774px;
  }
  .categories__item {
    min-height: 372px;
  }
  .categories__item-title {
    margin: 0;
    margin-top: 45px;
    margin-left: 53px;

    font-size: 36px;
    line-height: 37.02px;
    &::before {
      top: 95px;
      left: 445px;

      width: 200px;
      height: 200px;
    }
    &_slim::after {
      top: 85px;
      left: 475px;

      width: 140px;
      height: 194px;
    }

    &_pro::after {
      top: 140px;
      left: 410px;

      width: 268px;
      height: 112px;
    }
  }
  .categories__item-text {
    width: 372px;
    height: 88px;
    margin: 0;
    margin-top: 25px;
    margin-left: 52px;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .categories__item-btn {
    margin-top: 45px;
    margin-left: 47px;
    padding-top: 20px;
    padding-right: 0px;

    font-size: 20px;
    line-height: 20px;

    border: none;

    &::after {
      left: 178px;
      bottom: 62px;
    }
  }
}
@media (min-width: $desktop-width) {
  .categories {
    width: 1220px;
    min-height: 372px;
    margin-top: 0px;
  }
  .categories__list {
    flex-direction: row;
    min-height: 372px;
  }
  .categories__item {
    width: 570px;
    min-height: 372px;
  }
  .categories__item-title {
    margin-top: 40px;
    margin-left: 213px;
    &::before {
      left: 50px;
      top: 47px;

      width: 100px;
      height: 100px;
    }
    &_slim::after {
      left: 65px;
      top: 40px;

      width: 70px;
      height: 97px;

      background: url("../../img/cat-slim.svg.png") no-repeat;
    }
    &_pro::after {
      left: 32px;
      top: 70px;

      width: 134px;
      height: 56px;

      background: url("../../img/cat-pro.svg.png") no-repeat;
    }
  }
  .categories__item-text {
    width: 462px;
    margin-top: 75px;
  }
  .categories__item-btn {
    margin-top: -5px;
    &::after {
      bottom: 67px;
    }
  }
}