.categories {
  width: 280px;
  margin: 0 auto;
  margin-top: 18px;
  //
  //border: 1px solid black;
  min-height: 552px;
}
.categories__list {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  //
  min-height: 552px;
}
.categories__item {
  position: relative;
  background-color: #f2f2f2;
  //
  min-height: 266px;
  /*border: 1px solid black;*/
}

.categories__item-title {
  margin: 0;

  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  margin-left: 92px;
  padding-top: 35px;

  &_slim::before {
    content: "";

    position: absolute;
    left: 25px;
    top: 26px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &_slim::after {
    content: '';

    position: absolute;
    left: 30px;
    top: 25px;
    width: 35px;
    height: 50px;
    background: url("../../img/Vector_Smart_Object.png");
  }

  &_pro::before {
    content: "";

    position: absolute;
    left: 20px;
    top: 26px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &_pro::after {
    content: '';

    position: absolute;
    left: 14px;
    top: 38px;
    width: 67px;
    height: 28px;
    background: url("../../img/Vector_Smart_Object_copy_2.png");
  }
}

.categories__item-text {
  width: 225px;
  color: #444444;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin-top: 27px;
  margin-left: 10px;
}

.categories__item-btn {
  background-color: #f2f2f2;
  border: none;

  border-top: 1px solid silver;

  margin-top: 10px;
  margin-left: 13px;

  padding-top: 20px;
  padding-right: 160px;
  font-family: Oswald;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    background: url("../../img/right-arrow-long.svg.png");
    left: 110px;
    bottom: 18px;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    width: 708px;
    margin-top: 0;
    //
    min-height: 774px;
  }
  .categories__list {
    //
    min-height: 774px;
  }
  .categories__item {
    //
    min-height: 372px;
  }
  .categories__item-title {
    font-size: 36px;
    line-height: 37.02px;
    margin: 0;
    margin-top: 45px;
    margin-left: 53px;
    &::before {
      left: 445px;
      top: 95px;
      width: 200px;
      height: 200px;
    }
    &_slim::after {
      left: 230px;
      top: 25px;
      width: 140px;
      height: 194px;
      background: url("../../img/cat-slim.svg_200%.png");
    }

    &_pro::after {
      left: 14px;
      top: 38px;
      width: 268px;
      height: 112px;
      background: url("../../img/cat-pro.svg_200%.png");
    }
  }
  .categories__item-text {
    width: 372px;
    height: 88px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    margin: 0;
    margin-top: 25px;
    margin-left: 52px;
  }

  .categories__item-btn {
    border: none;

    margin-top: 45px;
    margin-left: 47px;

    padding-top: 20px;
    padding-right: 0px;

    font-size: 20px;
    line-height: 20px;


    &::after {
      left: 178px;
      bottom: 62px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1220px;
    margin-top: 78px;
    // /
    min-height: 372px;
  }
  .categories__list {
    flex-direction: row;
    //
    min-height: 372px;
  }
  .categories__item {
    width: 570px;
    //
    min-height: 372px;
  }
}