.form__container {
  margin-top: 20px;
  margin-bottom: 35px;
  //
  //border: 1px solid black;
  min-height: 1295px;
}
.form__contacts-labels-wrapper {
  display: flex;
  flex-direction: column;
}
.form__additional-labels-wrapper {
  display: flex;
  flex-direction: column;
}
.form__title {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  color: #111111;
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  //
  min-height: 38px;
  //border: 1px solid red;
}
.form__description {
  margin: 0;
  margin-top: 23px;
  margin-left: 20px;

  color: #111111;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  //
  //border: 1px solid red;
  min-height: 33px;
}
.form__contacts {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 19px;
  margin: 0;
  margin-top: 27px;
  //
  min-height: 183px;
  border: 0 none;
}
.form__contacts-title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  width: 190px;
  color: #111111;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  &::after {
    content: '';
    position: absolute;
    left: 202px;
    top: 15px;
    width: 99px;
    height: 3px;
    background-color: #68b738;
  }
}
.form__contacts-item-label {
  margin-bottom: 15px;

  color: #222222;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.form__contacts-item-input {
  padding: 12px 0;
  padding-left: 15px;
  padding-right: 50px;
  margin-left: 8px;
  position: relative;
  border: 1px solid #cdcdcd;

  color: #444444;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  outline-color: #444444;
  &:hover {
    border-color: #cdcdcd;
  }
  &:invalid {
    border-color: #ff8282;
  }
  &_1 {
    width: 153px;
  }
  &_2 {
    width: 135px;
  }
}
.form__contacts_mail {
  position: relative;
  &::after {
    content:'';
    position: absolute;
    background-image: url('../../img/icon-mail.svg');
    width: 17px;
    height: 13px;
    top: 6px;
    left: 250px;
    z-index: 1;
  }
}
.form__contacts_phone {
  position: relative;
  &::after {
    content:'';
    position: absolute;
    background-image: url('../../img/icon-phone.svg');
    width: 20px;
    height: 20px;
    top: 4px;
    left: 253px;
    z-index: 1;
  }
}
.form__comment {
  margin: 0;
  padding-top: 0;
  padding-left: 20px;
  //
  min-height: 206px;
  border: 0 none;
}
.form__comment-title {
  color: #111111;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 142px;
    width: 158px;
    height: 3px;
    background-color: #68b738;
  }
}
.form__comment-textarea {
  padding-left: 14px;
  padding-top: 15px;
  color: #444444;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 33px;
  width: 263px;
  border: 1px solid #cdcdcd;
  resize: none;
  outline-color: #444444;
  &:hover {
    border-color: #cdcdcd;
  }
  &:invalid {
    border-color: #ff8282;
  }
}
.form__additional {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 12px;
  padding-left: 19px;
  //
  min-height: 213px;
  border: 0 none;
}
.form__additional-title {
  margin: 0;
  margin-bottom: 38px;
  color: #111111;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 165px;

    width: 136px;
    height: 3px;
    background-color: #68b738;
  }
}

.form__additional-label {
  margin-bottom: 21px;

  cursor: pointer;
}
.form__additional-input {
  margin-right: 25px;
  z-index: -1;
  opacity: 0;
  &:checked + .form__additional-text::before {
    opacity: 1;
  }

}
.form__additional-text {
  display: inline-block;
  color: #222222;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -7px;
    left: -45px;
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd;
  }
  &:hover::after {
    border-color: #bababa;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -40px;
    background: url("../../img/tick.svg.png") no-repeat;
    width: 21px;
    height: 16px;
    opacity: 0;
  }
  &:active,
  &:active::before,
  &:active::after {
    opacity: 0.5;
  }
}
.form__submit {
  border: none;
  background-color: #68b738;
  margin: 5px 20px;
  padding: 10px 78px;

  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }
  &:active {
    color: #88c065;
  }
}
.form__note {
  display: inline-block;
  margin-top: -5px;
  margin-left: 83px;
  color: #444444;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: $tablet-width) {
  .form__additional-label {
    &_water {
      margin-right: 0;
    }
    &_3 {
      margin-right: 0;
    }
  }
  .form__container {
    margin-top: 55px;
    margin-bottom: 100px;
    //
    min-height: 1737px;
  }
  .form__title {
    width: 100%;
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
    //
    min-height: 63px;
  }
  .form__description {
    margin-top: 52px;
    margin-left: 70px;

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    //
    min-height: 60px;
  }
  .form__item-container {
    padding-left: 70px;
  }

  .form__contacts {
    margin-top: 75px;
    margin-left: 50px;
    //
    min-height: 235px;
  }
  .form__contacts-title {
    margin-bottom: 75px;
    width: 515px;
    font-size: 36px;
    line-height: 36px;
    &::before {
      content: '';
      position: absolute;
      top: 22px;
      left: -70px;
      width: 30px;
      height: 3px;
      background-color: #68b738;
    }
    &::after {
      left: 554px;
      top: 22px;
      width: 145px;
      height: 3px;
    }
  }
  .form__contacts-item-label {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .form__contacts-item-input {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #444444;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    &_1 {
      margin-left: 17px;
      width: 485px;
    }
    &_2 {
      width: 465px;
      margin-left: 12px;
      padding-left: 16px;
    }
  }
  .form__comment {
    margin-top: 35px;
    //
    min-height: 285px;
  }
  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 50px;
    &::before {
      content: '';
      position: absolute;
      top: 22px;
      left: -100px;
      width: 60px;
      height: 3px;
      background-color: #68b738;
    }
    &::after {
      top: 22px;
      left: 220px;
      width: 477px;
      height: 3px;
      background-color: #68b738;
    }
  }
  .form__comment-textarea {
    margin-left: 50px;
    margin-top: 75px;
    height: 160px;
    width: 610px;
    padding-left: 18px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }
  .form__additional {
    margin-top: 46px;
    padding-left: 70px;
    //
    min-height: 210px;
  }
  .form__additional-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 0;
    &::before {
      content: '';
      position: absolute;
      top: 22px;
      left: -100px;
      width: 60px;
      height: 3px;
      background-color: #68b738;
    }
    &::after {
      top: 22px;
      left: 252px;
      width: 445px;
      height: 3px;
      background-color: #68b738;
    }
  }
  .form__additional-labels-wrapper {
    margin-top: 67px;
    padding-left: 12px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .form__additional-label {
    margin-right: 137px;
    margin-bottom: 50px;
    &_3 {
      margin-right: 230px;
    }
  }
  .form__additional-text {
    font-size: 20px;
    line-height: 20px;
    &::after {
      top: -10px;
      left: -58px;
      width: 38px;
      height: 38px;
    }
    &::before {
      top: 2px;
      left: -48px;
    }
  }
  .form__submit {
    margin: 0;
    margin-left: 70px;
    padding: 15px 65px;
    font-size: 20px;
    line-height: 20px;
  }
  .form__note {
    margin-left: 58px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 16px;
  }
  .form__contacts_mail {
    &::after {
      top: 10px;
      left: 600px;
    }
  }
  .form__contacts_phone {
    &::after {
      top: 6px;
      left: 605px;
    }
  }
}
@media (min-width: $desktop-width) {
  .form__container {
    margin-top: 52px;
    padding-left: 38px;
    margin-bottom: 85px;
    //
    min-height: 1335px;
  }
  .form__title {
    width: 100%;
    margin-left: 70px;
    //
    min-height: 65px;
  }
  .form__description {
    margin-top: 50px;
    //
    min-height: 50px;
  }

  .form__item-container {
    margin-top: 70px;
    display: flex;
    //
    //border: 1px solid red;

  }
  .form__contacts {
    margin-top: 45px;
    //
    min-height: 180px;
  }
  .form__contacts-title {
    margin-bottom: 73px;
    &::before {
      top: 22px;
      left: -110px;
      width: 70px;
      height: 3px;
    }
    &::after {
      left: 554px;
      top: 22px;
      width: 777px;
      height: 3px;
    }
  }
  .form__contacts-labels-wrapper {
    display: flex;
    flex-direction: row;
  }
  .form__contacts-item-label {
    margin-left: 3px;
    margin-right: 72px;
  }
  .form__contacts-item-input {
    &_1 {
      width: 420px;
    }
    &_2 {
      width: 405px;
    }
  }
  .form__comment {
    margin-top: 40px;
    //
    min-height: 280px;
  }
  .form__comment-title {
    &::before {
      top: 20px;
      left: -110px;
      width: 70px;
    }
    &::after {
      top: 20px;
      left: 220px;
      width: 1110px;
    }
  }
  .form__comment-textarea {
    width: 1200px;
  }
  .form__additional {
    margin-top: 45px;
    //
    min-height: 140px;
  }
  .form__additional-title {
    &::before {
      top: 22px;
      left: -110px;
      width: 70px;
    }
    &::after {
      top: 22px;
      left: 252px;
      width: 1077px;
    }
  }
  .form__additional-labels-wrapper {
    justify-content: space-between;
    width: 1110px;
  }
  .form__additional-label {
    margin-right: 0px;
    margin-bottom: 58px;
  }
  .form__submit {
    padding: 15px 208px;
  }
  .form__note {
    margin-left: 77px;
  }
  .form__contacts_mail {
    &::after {
      top: 10px;
      left: 530px;
    }
  }
  .form__contacts_phone {
    &::after {
      top: 6px;
      left: 535px;
    }
  }
}
