
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: white;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style: none;
  //
  min-height: 195px;
  //border: 1px solid blue;
}

.main-nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid silver;
  //
  min-height: 64px;
}

.main-nav__list-item a {
  color: #111111;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none ;
  }
  .main-nav {
    width: 440px;
  }
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    min-height: 58px;
    margin-top: 8px;
    margin-left: 0px;
  }
  .main-nav__list-item {
    border: none;
    margin: 0;

    &_active{
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 62px;
        height: 2px;
        background-color: #68b738;
        top: 52px;
      }
    }
  }

  .main-nav__list-item a {
    color: #222222;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 480px;
  }
  //
  .main-nav__list {
    justify-content: space-between;
    min-height: 58px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .main-nav__list-item {
    margin: 0;
    &_active{
      &::before {
        width: 70px;
        background-color: #ffffff;
      }
    }
    &_white {
      &_active{
        &::before {
          width: 170px;
          background-color: #68b738;
        }
      }
    }

    a {
      color: #ffffff;
      font-size: 20px;
    }
    &_white a {
      color: black;
    }
  }

}