.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  // для сетки временно
  min-height: 260px;
  //border: 1px solid red;
}
.page-header__wrapper {
  display: flex;
  //border: 1px solid black;*/
  min-height: 64px;
}
.page-header__logo {
  display: inline-block;
  width: 33px;
  height: 38px;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
  // для сетки временно
  //border: 1px solid orange;
}
.page-header__logo-image {
  background: url("../../img/logo-mobile.svg.png") no-repeat;
  width: 33px;
  height: 38px;
  &_mobile {
    background: url("../../img/logo-mobile-header.svg.png") no-repeat;
    width: 101px;
    height: 18px;
  }
}


.page-header__name {

  width: 101px;
  height: 18px;
  margin-left: 57px;
  margin-top: 23px;
  // для сетки временно
  /*border: 1px solid blue;*/
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: 707px;
    margin: 0 auto ;
    margin-top: 14px;
    //
    min-height: 58px;
  }
  .page-header__wrapper {
    width: 190px;
  }
  .page-header__logo {
    margin-top: 10px;
    padding-left: 0px;
  }
  .page-header__logo-image {
    background: url("../../img/logo-tablet.svg.png") no-repeat;
    width: 173px;
    height: 58px;
    &_mobile {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1219px;
    margin-top: 54px;
    min-height: 58px;
  }
  .page-header__wrapper {
    width: 202px;
  }
  .page-header__logo {
    min-height: 59px;
  }
  .page-header__name {
    width: 120px;
    min-height: 59px;
  }
}