.profile__list {
  display: flex;
  flex-direction: column;
  width: 300px;

  padding: 0;
  margin: 0;
  margin-top: 40px;
  //
  min-height: 163px;
  border: 0 none;
}
.profile__item-label {
  color: #222222;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 19px;
  margin-bottom: 15px;
}
.profile__item-input {
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 15px;

  color: #444444;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  outline-color: #444444;
  &:hover {
    border-color: #cdcdcd;
  }
  &:invalid {
    border-color: #ff8282;
  }
  &_1 {
    margin-left: 10px;
    width: 212px;
  }
  &_2 {
    margin-left: 15px;
    width: 185px;
  }
  &_3 {
    margin-left: 7px;
    width: 153px;
  }
}
@media (min-width: $tablet-width) {
  .profile__list {
    margin-top: 68px;
    width: 100%;
    //
    min-height: 200px;
  }
  .profile__item-label {
    font-size: 20px;
    line-height: 20px;
    margin-left: 2px;
    margin-bottom: 28px;
  }
  .profile__item-input {
    color: #444444;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;

    &_1 {
      width: 545px;
    }
    &_2 {
      padding-left: 18px;
      width: 514px;
    }
    &_3 {
      margin-left: 5px;
      padding-left: 15px;
      width: 477px;
    }
  }
}
@media (min-width: $desktop-width) {
  .profile__list {
    margin: 0;
    margin-left: 0px;
    width: 580px;
    //
    min-height: 200px;
  }
  .profile__item-input {
    width: 400px;
    &_1 {
      width: 485px;
    }
    &_2 {
      width: 455px;
    }
    &_3 {
      width: 418px;
    }
  }
}