.catalogs-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 42px;
}
.catalog-additional {
  width: 301px;
  min-height: 900px;
  margin-left: 20px;
  margin-top: 32px;
}
.catalog-additional__title {
  position: relative;

  min-height: 25px;
  margin: 0;
  margin-left: 0px;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &::after {
    position: absolute;
    top: 14px;
    right: 1px;

    width: 53px;
    height: 3px;

    background-color: #68b738;

    content: '';
  }
}
.catalog-additional__list {
  min-height: 517px;
  margin: 0;
  padding: 0;
  margin-top: 32px;

  list-style: none;
}
.special-offer {
  width: 280px;
  min-height: 287px;
  margin-top: 39px;

  background: url("../img/gift-photo-mobile.jpg") no-repeat;
}
.special-offer__logo {
  width: 55px;
  height: 60px;
  margin-left: 72px;
  margin-top: 67px;
}
.special-offer__text {
  margin-top: 60px;

  font-family: "Arial";
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.catalog-additional__item {
  min-height: 128px;
  margin-right: 20px;

  border-bottom: 1px solid #cdcdcd;
  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}
.catalog-additional__item-title {
  margin: 0;
  padding-top: 15px;
  padding-left: 2px;

  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.catalog-additional__item-property,
.catalog-additional__item-price {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
}
.catalog-additional__item-property {
  display: block;
  float: left;
  margin-top: 13px;
}
.catalog-additional__item-price {
  display: block;
  margin-left: auto;
  float: right;
}

.catalog-additional__item .button {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalogs-wrapper {
    width: 768px;
  }
  .catalog-additional {
    width: 100%;
    min-height: 938px;
    margin: 0;
    margin-top: 67px;
  }
  .catalog-additional__title {
    min-height: 37px;
    margin-left: 67px;

    font-size: 36px;
    font-weight: 400;
    line-height: 36px;

    &::before {
      position: absolute;
      top: 23px;
      left: -110px;

      width: 70px;
      height: 3px;

      background-color: #68b738;

      content: '';
    }
    &::after {
      top: 22px;

      width: 325px;
    }
  }
  .catalog-additional__list {
    width: 708px;
    min-height: 557px;

    margin: 0 auto;
    margin-top: 75px;

    border: 1px solid #e6e6e6;
  }
  .special-offer {
    width: 708px;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 67px;
  }
  .catalog-additional__item {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;

    border-bottom: 1px solid #dadada;
    &:first-child {
      border-top: none;
    }
  }
  .catalog-additional__item-title {
    margin-top: 15px;
    margin-left: 37px;

    font-size: 20px;
  }
  .catalog-additional__item-property {
    margin: 35px 50px 0 auto;

    font-size: 16px;
  }
  .catalog-additional__item-price {
    margin-top: 35px;
    margin-right: 37px;
    margin-left: 0;

    font-size: 16px;
  }
  .catalog-additional__item .button {
    width: 630px;

    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 40px;
  }
  .special-offer {
    width: 708px;
    min-height: 200px;
    margin-top: 62px;
    margin-bottom: 107px;

    background: url("../img/gift-photo-tablet.jpg.png") no-repeat;
  }
  .special-offer__logo {
    display: inline-block;
    margin-top: 67px;
    margin-left: 50px;
  }
  .special-offer__text {
    display: inline-block;
    margin-top: 5px;
    margin-left: 275px;

    text-align: left;
  }
}
@media (min-width: $desktop-width) {
  .catalogs-wrapper {
    width: 1440px;
  }
  .catalog-additional {
    width: 100%;
    min-height: 410px;
    margin: 0;
    margin-top: 73px;
  }
  .catalog-additional__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    min-height: 290px;
    margin: 80px auto;
  }
  .catalog-additional__title {
    min-height: 37px;
    margin-left: 107px;

    &::after {
      top: 22px;

      width: 960px;
    }
  }
  .catalog-additional__list {
    display: inline-flex;
    flex-direction: column;
    width: 895px;
    min-height: 289px;
    margin: 0;

    border: none;
  }
  .catalog-additional__item {
    justify-content: flex-start;
    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
  .catalog-additional__item-title {
    margin-top: 28px;
    margin-left: 0;
    padding: 0;

    font-size: 20px;
  }
  .catalog-additional__item-price,
  .catalog-additional__item-property {
    margin: 0;
    margin-top: 33px;
  }
  .catalog-additional__item_1 {
    .catalog-additional__item-property {
      margin-left: 165px;
    }
    .catalog-additional__item-price {
      margin-left: 110px;
    }
    .button {
      margin-left: 37px;
    }
  }
  .catalog-additional__item_2 {
    .catalog-additional__item-property {
      margin-left: 195px;
    }
    .catalog-additional__item-price {
      margin-left: 180px;
    }
    .button {
      margin-left: 45px;
    }
  }
  .catalog-additional__item_3 {
    .catalog-additional__item-property {
      margin-left: 255px;
    }
    .catalog-additional__item-price {
      margin-left: 200px;
    }
    .button {
      margin-left: 35px;
    }
  }
  .catalog-additional__item_4 {
    .catalog-additional__item-property {
      margin-left: 235px;
    }
    .catalog-additional__item-price {
      margin-left: 120px;
    }
    .button {
      margin-left: 37px;
    }
  }
  .special-offer {
    display: inline-flex;
    width: 245px;
    min-height: 289px;
    margin: 0;

    background: url("../img/gift-photo-desktop.jpg.png") no-repeat;
  }
  //
  .special-offer__logo {
    display: inline-block;
    margin-top: 45px;
    margin-left: 55px;
  }
  .special-offer__text {
    display: inline-block;
    margin-top: 60px;
    margin-left: 0px;

    text-align: center;
  }
  .catalog-additional__item {
    min-height: 72px;
  }
  .catalog-additional__item .button {
    width: 245px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}