.example {
  min-height: 705px;
  margin-top: 50px;

  background-color: #f2f2f2;
}
.example__title {
  margin: 0;
  padding-top: 17px;
  padding-left: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}
.example__text {
  width: 266px;
  height: 103px;
  margin-top: 25px;
  margin-left: 20px;

  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.example__property-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style: none;
}
.example__property-item {
  position: relative;

  width: 124px;
  height: 56px;

  border: 1px solid grey;
  border-radius: 2px;

  &_1::before,
  &_2::before {
    position: absolute;
    top: 50px;
    left: 22px;

    width: 54px;
    height: 19px;
    padding-left: 15px;
    padding-right: 15px;

    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #444444;

    background-color: #f2f2f2;
  }
  &_1::before {
    content: 'снижение веса';
  }
  &_2::before {
    content: 'затрачено времени';
  }
}
.example__property-title {
  margin: 0;
  margin-top: 10px;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}
.example__costs {
  margin: 0;
  margin-top: 30px;

  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.example__compare-slider_toggle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;
}
.example__compare {
  margin-top: 40px;
}
.example__compare-slider {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.example__compare-slider_toggle {
  margin: 0;
  padding: 0;

  font-family: Oswald;
  font-size: 16px;

  background: none;
  border: none;
}
.example__compare-indicator {
  position: relative;
  width: 80px;
  height: 12px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 9px;
  margin: 0 18px;
}
.example__compare_prev .example__compare-indicator {
    &::before {
      position: absolute;
      top: 3px;
      left: 3px;

      width: 38px;
      height: 6px;

      background-color: #68b738;
      border-radius: 3px;

      content: '';
    }
}
.example__compare_next .example__compare-indicator {
  &::before {
    position: absolute;
    top: 3px;
    right: 3px;

    width: 38px;
    height: 6px;

    background-color: #68b738;
    border-radius: 3px;

    content: '';
  }
}
.example__compare-photo {
  width: 311px;
  height: 240px;
}
.example__compare_prev .example__compare-photo {
  background: url("../img/before-mobile.png") no-repeat;
}
.example__compare_next .example__compare-photo {
  background: url("../img/after-mobile.png") no-repeat center;
}
.example__compare-background-wrapper {
  display: none;
}
@media (min-width: $tablet-width) {
  .example {
    min-height: 1082px;
    margin-top: 57px;

    background-color: white;
  }
  .example__title {
    margin: 0;
    margin-top: 85px;
    margin-left: 10px;

    font-size: 60px;
    line-height: 60px;
  }
  .example__text {
    width: 676px;
    margin-left: 30px;
    margin-top: 65px;

    font-family: "Arial";
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  .example__property-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .example__property-list {
    margin: 0;
    margin-left: 30px;
    margin-top: 5px;
  }
  .example__property-item {
    width: 162px;
    height: 72px;

    border-radius: 2px;
    &_2 {
      margin-left: 40px;
    }
    &_1::before,
    &_2::before {
      top: 65px;
      left: 15px;

      width: 130px;
      height: 11px;
      padding-left: 0px;
      padding-right: 0px;

      font-size: 14px;
      line-height: 14px;

      background-color: white;
    }
  }
  .example__property-title {
    margin-top: 15px;

    font-size: 30px;
    line-height: 37.02px;
  }
  .example__costs {
    width: 174px;
    height: 18px;
    margin: 0;
    margin-top: 10px;
    margin-left: 165px;

    font-family: Oswald;
    font-size: 20px;
    text-align: right;
    line-height: 30px;
  }
  .example__compare {
    position: relative;
    margin-top: 82px;
  }
  .example__compare-photo {
    position: relative;
    z-index: 2;

    width: 690px;
    height: 517px;
    margin-left: 45px;
  }
  .example__compare_prev .example__compare-photo {
    //background: url("../img/before-desktop.png.png") no-repeat;
    background-image: none;
  }
  .example__compare_next .example__compare-photo {
    //background: url("../img/after-desktop.png.png") no-repeat;
    background-image: none;
  }
  .example__compare-slider_toggle {
    z-index: 2;

    padding-bottom: 5px;

    font-family: Oswald;
    font-size: 20px;

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }
  }
  .example__compare-slider {
    margin-top: 20px;
  }
  .example__compare_prev .example__compare-indicator {
    width: 428px;
    height: 6px;
    margin: 7px 20px 0 20px;

    background-color: #dcdcdc;
    border: 1px solid lightgray;
    &::before {
      display: none;
    }
  }
  .example__compare_next .example__compare-indicator {
    width: 428px;
    height: 6px;
    margin: 7px 20px 0 20px;

    background-color: #dcdcdc;
    border: 1px solid lightgray;
    &::before {
      display: none;
    }
  }
  .example__compare-background-wrapper {
    position: absolute;
    top: 170px;

    display: block;
    width: 100%;
    height: 460px;

    background-color: #eaeaea;
  }
  .example__compare-thumb {
    position: absolute;
    top: -15px;
    left: 185px;

    width: 34px;
    height: 34px;

    background-color: white;
    border: 1px solid lightgray;
    border-radius: 50%;

    &_center {
      position: absolute;
      top: 13px;
      left: 13px;

      width: 8px;
      height: 8px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }


  .example__compare-photo {
    position: relative;
    width: 690px;
    height: 517px;


    &_prev {
      position: absolute;
      top: 0;
      left: 0;

      width: 690px;
      height: 517px;

      background: url("../img/before-desktop.png.png") no-repeat;
    }
    &_next {
      position: absolute;
      top: 0;
      left: 0;

      width: 690px;
      height: 517px;

      background: url("../img/after-desktop.png.png") no-repeat;
    }
  }
}
@media (min-width: $desktop-width) {
  .example {
    min-height: 615px;
    margin-top: 20px;
  }
  .example__title {
    margin-top: 67px;
    margin-left: 88px;
  }
  .example__text {
    position: relative;
    z-index: 1;

    width: 435px;
    margin-top: 147px;
    margin-left: 108px;
  }
  .example__property-wrapper {
    z-index: 1;

    display: inline-block;
    margin-top: 40px;
    margin-left: 78px;
  }
  .example__costs {
    width: 330px;
    margin-top: 53px;
    margin-left: 32px;

    text-align: left;
    span {
      margin-left: 58px;
    }
  }
  .example__container-columns {
    display: flex;
  }
  .example__compare {
    margin-top: -380px;
    margin-left: 157px;
  }
  .example__compare_prev .example__compare-photo {
    background: url("../img/before-desktop.png.png") no-repeat;
  }
  .example__compare-slider {
    margin-top: 40px;
    margin-left: 125px;
  }
  .example__compare-background-wrapper {
    top: 190px;
    left: -635px;

    width: 1440px;
    height: 462px;

    background-color: #f2f2f2;
  }
  .example__property-item {
    &_1::before,
    &_2::before {
      background-color: #f2f2f2;
    }
  }
}
