<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог продукции</title>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel='stylesheet' href='dist/style.css'>
</head>
<body>
    <header class="page-header">
        <div class="page-header__wrapper">
            <a class="page-header__logo">
                <!--<img src="#" class="page-header__logo-image page-header__logo-image_mobile" width="20px" height="20px" alt="логотип сайта">-->
            </a>
            <a class="page-header__name">
                <!--<img src="#" class="page-header_logo-image" width="10px" height="10px" alt="меню">-->
            </a>

            <button type="button" class="toggle__main-nav">
                X
            </button>
        </div>
        <nav class="main-nav">

            <ul class="main-nav__list site-list">
                <li class="site-list__item site-list__item_active">
                    <a href="./index.html">
                        Главная
                    </a>
                </li>
                <li class="site-list__item">
                    <a href="./catalog.html">
                        Каталог продукции
                    </a>
                </li>
                <li class="site-list__item">
                    <a href="./form.html">
                        Подбор программы
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="page__main">
        <div class="catalogs-wrapper">
            <section class="catalog">
            <h1 class="catalog__title">
                <!--Каталог продукции-->
            </h1>
            <ul class="catalog__list">
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy PRO
                        <br> 500 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                500 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Курица
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                700 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy PRO
                        <br> 1000 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                1000 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Курица
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                1000 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy PRO
                        <br> 500 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                500 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Рыба
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                700 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy PRO
                        <br> 1000 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                1000 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Рабы
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                1000 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy SLIM
                        <br> 500 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                500 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Гречка
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                400 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy SLIM
                        <br> 1000 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                500 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Гречка
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                700 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item">
                    <!--<img src="#" class="catalog__item-photo" alt="Фотография продукции">
                    <h3 class="catalog__item-title">
                        Cat Energy SLIM
                        <br> 500 г
                    </h3>
                    <table class="catalog__item-properties-list property__list">
                        <tr>
                            <td class="property__value">
                                Объем
                            </td>
                            <td class="property__field">
                                500 г
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Вкус
                            </td>
                            <td class="property__field">
                                Рис
                            </td>
                        </tr>
                        <tr>
                            <td class="property__value">
                                Цена
                            </td>
                            <td class="property__field">
                                500 Р.
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="catalog__item catalog__item_last">
                    <!--<img src="#" class="catalog__item-photo" alt="Плюс">
                    <h3 class="catalog__item-title">
                        ПОКАЗАТЬ ЕЩЕ
                        <br> 100500 ТОВАРОВ
                    </h3>

                    <p class="catalog__item-text">
                        На самом деле вкусов
                        <br> гораздо больше!
                    </p>-->
                    <!--<button type="button" class="button button_gray">
                        ПОКАЗАТЬ ВСЕ
                    </button>-->
                </li>
            </ul>

        </section>

            <section class="catalog-additional">
            <h2 class="catalog-additional__title">
                <!--Дополнительные товары-->
            </h2>
            <ul class="catalog-additional__list">
                <li class="additional-catalog__item">
                    <!--<h3 class="additional-catalog__item-title">
                        САХАРОЗАМЕНИТЕЛЬ
                    </h3>
                    <p class="additional-catalog__item-property">
                        1 упаковка (100 г)
                    </p>
                    <p class="additional-catalog__item-price">
                        200 Р.
                    </p>
                    <button class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="additional-catalog__item">
                    <!--<h3 class="additional-catalog__item-title">
                        ПИТЬЕВАЯ ВОДА
                    </h3>
                    <p class="additional-catalog__item-property">
                        5 литров
                    </p>
                    <p class="additional-catalog__item-price">
                        50 Р.
                    </p>
                    <button class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="additional-catalog__item">
                   <!-- <h3 class="additional-catalog__item-title">
                        МОЛОКО
                    </h3>
                    <p class="additional-catalog__item-property">
                        1 литр
                    </p>
                    <p class="additional-catalog__item-price">
                        100 Р.
                    </p>
                    <button class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
                <li class="additional-catalog__item">
                    <!--<h3 class="additional-catalog__item-title">
                        ВИТАМИНЫ
                    </h3>
                    <p class="additional-catalog__item-property">
                        1 упаковка (30 г)
                    </p>
                    <p class="additional-catalog__item-price">
                        300 Р.
                    </p>
                    <button class="button">
                        ЗАКАЗАТЬ
                    </button>-->
                </li>
            </ul>

            <aside class="catalog__special-offer special-offer">
                <!--<figure class="special-offer__figure">
                    <img class="special-offer__logo" src="#" alt="Картинка с подарочной упаковкой">
                    <figcaption class="special-offer__text">
                        Закажите все
                        <br> и получите чехол для
                        <br> кота в подарок!
                    </figcaption>
                </figure>-->
            </aside>
        </section>
        </div>
    </main>

    <footer class="page-footer">
        <section class="contacts">
            <div class="contacts__wrapper">
                <!--<h2 class="contacts__title">
                     ПРИГЛАШАЕМ
                     <br> К СОТРУДНИЧЕСТВУ
                     <br> ДИЛЕРОВ!
                 </h2>
                 <p class="contacts__address">
                     ул. Большая
                     <br> Конюшенная, д. 19/8
                     <br>
                     <br> Санкт-Петербург
                 </p>-->
            </div>
            <section class="contacts__map map">
                <!--<div class="map__container"></div>
                <img src="#"class="map__baloon" alt="Балун на карту, указывающий на расположпение на карте офиса компании">-->
            </section>
        </section>



        <section class="page-footer__social social">
            <!--<img src="#" class="page-footer__logo">
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link social__link-vkontakte">Мы в Вконтакте</a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link-instagram">Мы в Instagram</a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link-facebook">Мы в Facebook</a>
                </li>
            </ul>
            <div class="copyright">
                <a class="button copyright__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
            </div>-->
        </section>
    </footer>
</body>
</html>